<p id="notice"><%= notice %></p>

<h1>Deaths</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Lieu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deaths.each do |death| %>
      <tr>
        <td><%= death.Name %></td>
        <td><%= death.Age %></td>
        <td><%= death.Lieu %></td>
        <td><%= link_to 'Show', death %></td>
        <td><%= link_to 'Edit', edit_death_path(death) %></td>
        <td><%= link_to 'Destroy', death, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Death', new_death_path %>
