<%= form_for @contact do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group position-relative">
        <label>Votre nom <span class="text-danger">*</span></label>
        <i data-feather="user" class="fea icon-sm icons"></i>
        <%= f.text_field :name, required: true, placeholder:"Votre nom", :class => "form-control pl-5" %>
      </div>
    </div><!--end col-->
    <div class="col-md-6">
      <div class="form-group position-relative">
        <label>Votre mail <span class="text-danger">*</span></label>
        <i data-feather="mail" class="fea icon-sm icons"></i>
        <%= f.email_field :email, required: true, placeholder:"Email", :class => "form-control pl-5" %>
      </div>
    </div><!--end col-->
    <div class="col-md-12">
      <div class="form-group position-relative">
        <label>Sujet</label>
        <i data-feather="book" class="fea icon-sm icons"></i>
        <%= f.text_field :sujet, required: true, placeholder:"Sujet", :class => "form-control pl-5" %>
      </div>
    </div><!--end col-->
    <div class="col-md-12">
      <div class="form-group position-relative">
        <label>Message</label>
        <i data-feather="message-circle" class="fea icon-sm icons"></i>
        <%= f.text_area :message, required: true, placeholder:"Message", :class => "form-control pl-5" %>
      </div>
    </div>
  </div><!--end row-->
  <div class="row">
    <div class="col-sm-12 text-center">
      <%= f.submit 'Envoyer', class:'submitBnt btn btn-primary btn-block' %>
      <div id="simple-msg"></div>
    </div><!--end col-->
  </div><!--end row-->
<% end %>